html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {

}

.italics {
    font-style: italic;
}

/* supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    .grid {
        display: grid;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-rows: 100px auto 100px;
        grid-template-columns: 15% auto 15%;
    }

    /* Washington Post Heading */
    .header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        background-color: #000;
    }

    .heading-icons {
        position: absolute;
        padding: 2em;
    }

    #search {
        color: #FFF;
        background: #1f1f1f;
        border: 1px solid #FFF;
        border-radius: 0.2em;
        padding: 1em;
    }

    #search:hover {
        background-color: #000;
    }

    .heading {
        color: #FFF;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #logo {
        width: 30%;
        padding-top: 1em;
    }

    /* Main Content */
    .main {
        grid-area: main;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .title {
        padding-bottom: 0.5em;
        border-bottom: 1px solid gray;
    }

    #article-pic img {
        width: 50%;
        padding-top: 0.5em;
    }

    /* Footer */
    .footer {
        grid-area: footer;
    }
}


@media only screen and (max-width: 600px) {

}