html, body {

}

h1, h2, h3, h4, h5, h6 {

}

/* supports checks whether the user browswer supports this */
@supports (grid-area:auto) {
    .grid {
        display: grid;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-rows: 150px auto 100px;
        grid-template-columns: 15% auto 15%;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}


@media only screen and (max-width: 600px) {

}